@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");
:root {
  --primary:#b5ffa0;
  --light-primary:#E6FF94;
  --dark-primary:#30be7e;
  --darker-primary: #19977cc5;
  --darkest-primary:#006769;
}

body, html {
  font-family: "Nunito", sans-serif;
  font-size: 2vh;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.title {
  z-index: 5;
  font-size: 4vh;
  font-weight: 700;
}

.description {
  z-index: 4;
  font-size: 2vh;
  opacity: 0.85;
  font-family: "Baloo 2", sans-serif;
}

.button-container {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1em;
}

.button1 {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 1vh;
  font-size: 2vh;
  font-weight: 600;
  background: var(--primary);
  color: var(--darkest-primary);
  cursor: pointer;
}

.button2 {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 1vh;
  font-size: 2vh;
  font-weight: 600;
  outline: 0.25vh solid var(--primary);
  outline-offset: -0.25vh;
  color: white;
  cursor: pointer;
}

main {
  width: 100%;
  height: 100%;
  background: var(--darkest-primary);
  scroll-snap-type: y proximity;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.container {
  padding: 1rem 5rem 1rem 5rem;
  box-sizing: border-box;
  scroll-snap-align: start;
}

#navbar {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
#navbar p {
  flex: 1 1 auto;
  margin: 0;
}
#navbar a {
  color: white;
  text-decoration: none;
}
#navbar ul {
  height: fit-content;
  width: fit-content;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 2em;
  list-style: none;
}
#navbar ul li {
  text-align: center;
  cursor: pointer;
}

#hero {
  height: 89%;
  display: flex;
  align-items: center;
  background: var(--darkest-primary);
  overflow: hidden;
  position: relative;
}
#hero__msg {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  width: 80vh;
  z-index: 2;
}
#hero__desc {
  width: 23em;
}
#hero__image {
  flex: 1 1 60%;
  text-align: right;
}
#hero__image img {
  width: 80vh;
  height: auto;
}
#hero #hero__blob {
  position: absolute;
  width: 65vh;
  height: 65vh;
  background: var(--darker-primary);
  left: 4%;
  top: 15%;
  z-index: 1;
  transform: scaleX(-1);
  transition: border-radius 1s ease;
  animation: heroblob 20s linear infinite;
}

.blob-container {
  width: fit-content;
  padding: 5em;
  box-sizing: border-box;
  position: absolute;
  transition: all 1s ease;
  filter: blur(0.25em);
}
.blob-container:nth-child(1) {
  left: -60vh;
  top: -2%;
}
.blob-container:nth-child(2) {
  left: 100%;
  top: 29%;
}
.blob-container:nth-child(3) {
  left: -60vh;
  top: 60%;
}
.blob-container.visible {
  filter: blur(0em);
}
.blob-container.visible:nth-child(1) {
  transform: scaleX(1);
  left: 6%;
}
.blob-container.visible:nth-child(2) {
  left: 50%;
}
.blob-container.visible:nth-child(3) {
  left: 4%;
}

.blob {
  width: 45vh;
  height: 45vh;
  background: var(--darkest-primary);
  z-index: 1;
  animation: heroblob 40s linear infinite;
}

@keyframes heroblob {
  0% {
    border-radius: 72% 28% 28% 72%/71% 19% 81% 29%;
    rotate: 0deg;
  }
  20% {
    border-radius: 64% 36% 38% 62%/51% 73% 27% 49%;
  }
  40% {
    border-radius: 68% 32% 31% 69%/61% 22% 78% 31%;
    rotate: 45deg;
  }
  80% {
    border-radius: 68% 32% 79% 21%/21% 38% 62% 79%;
  }
  100% {
    border-radius: 72% 28% 28% 72%/71% 19% 81% 29%;
    rotate: 0deg;
  }
}
#about {
  position: relative;
  width: 100%;
  height: auto;
  padding: 5em;
  display: flex;
  flex-direction: column;
  gap: 5em;
  overflow: hidden;
  background: var(--dark-primary);
}
#about .feature {
  display: flex;
  gap: 5em;
  flex-direction: row;
  align-items: center;
}
#about .feature .msg {
  z-index: 2;
  flex: 1 1 50%;
  width: fit-content;
}
#about .feature .msg .description {
  width: 30em;
}
#about .feature img {
  height: 20em;
  flex: 1 1 50%;
}

#pricing {
  width: 100%;
  height: 100%;
  padding: 5em;
  background: var(--darkest-primary);
  gap: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#pricing span {
  text-align: center;
}
#pricing .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
#pricing .card {
  padding: 2em;
  width: 25em;
  height: 35em;
  background: rgba(25, 151, 124, 0.7725490196);
  color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 50px 75px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 1.5em;
}
#pricing .card__header {
  max-height: 2em;
  text-align: center;
  margin-bottom: 1.5em;
}
#pricing .card p {
  margin: 0;
}
#pricing .card__plan {
  font-size: 3vh;
  font-weight: 600;
}
#pricing .card span {
  display: flex;
  flex: 1 1 50%;
}
#pricing .card .buy {
  margin-top: auto;
  border-radius: 1vh;
  width: fit-content;
  height: fit-content;
  padding: 0.6em;
  background: var(--primary);
  color: var(--darkest-primary);
  font-weight: 600;
}
#pricing .card .buy img {
  width: 2em;
  height: 2em;
}

#contact {
  height: 30%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2em;
}
#contact .title {
  flex: 1 1 30%;
  text-align: left;
}
#contact #socials {
  display: flex;
  flex-direction: column;
  flex: 1 1 60%;
}
#contact #socials p {
  margin: 0;
}
#contact #socials span {
  margin: 0;
  padding: 0;
  text-align: center;
}
#contact #socials #links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#contact #socials #links img {
  width: 3.5em;
  cursor: pointer;
}
#contact #email {
  display: flex;
  flex: 1 1 30%;
  flex-direction: column;
  gap: 0.6em;
}
#contact #email span {
  display: flex;
  border: 0.25vh solid var(--primary);
  border-radius: 1.5vh;
}
#contact #email span input {
  flex: 1 1 80%;
  min-height: 100%;
  padding: 0.5em 1em 0.5em 1em;
  box-sizing: border-box;
  background: transparent;
  color: white;
  outline: 0;
  border: 0;
}
#contact #email span input::placeholder {
  font-family: inherit;
  color: white;
}
#contact #email span input::-moz-placeholder {
  font-family: inherit;
  color: white;
}
#contact #email span button {
  flex: 1 1 20%;
  height: 100%;
  font: inherit;
  font-weight: 600;
  background: var(--primary);
  color: var(--darkest-primary);
  padding: 0.6em;
  box-sizing: border-box;
  border-radius: 0 1vh 1vh 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

#download {
  height: 89%;
  display: flex;
  flex-direction: rows;
  align-items: center;
  position: relative;
  margin-bottom: 10em;
}
#download span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  padding: 5em 0 1em 0;
  gap: 0.8em;
}
#download span .description {
  text-align: left;
  width: 30em;
}
#download__image {
  flex: 1 1 60%;
  text-align: right;
}
#download__image img {
  width: 80vh;
  height: auto;
}
#download #hero__blob {
  position: absolute;
  width: 60vh;
  height: 60vh;
  background: var(--darker-primary);
  left: 8%;
  top: 18%;
  z-index: 0;
  transform: scaleX(-1);
  transition: border-radius 1s ease;
  animation: heroblob 20s linear infinite;
}
#download #links {
  z-index: 1;
  width: fit-content;
  height: auto;
  display: flex;
  gap: 1rem;
  padding: 1em 0 1em 0;
}
#download #links img {
  object-fit: cover;
  width: 10em;
  height: 3.5em;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
