@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");
:root {
  --dark-primary:#40A578;
  --primary:#9DDE8B;
  --light-primary:#E6FF94;
  --darkest-primary:#006769;
}

body, html {
  font-family: "Nunito", sans-serif;
  font-size: 2vh;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 4vh;
  font-weight: 700;
}

.description {
  font-size: 2vh;
  opacity: 0.85;
  font-family: "Baloo 2", sans-serif;
}

.button-container {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1em;
}

.button1 {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 1vh;
  font-size: 2vh;
  font-weight: 600;
  background: var(--primary);
  color: var(--darkest-primary);
  cursor: pointer;
}

.button2 {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 1vh;
  font-size: 2vh;
  font-weight: 600;
  outline: 2px solid var(--primary);
  outline-offset: -2px;
  color: white;
  cursor: pointer;
}

main {
  width: 100%;
  height: 100%;
  background: var(--darkest-primary);
  scroll-snap-type: y proximity;
  overflow: scroll;
}

.container {
  padding: 1em 5em 1em 5em;
  box-sizing: border-box;
  scroll-snap-align: start;
}

#navbar {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
#navbar p {
  flex: 1 1 auto;
  margin: 0;
}
#navbar ul {
  height: fit-content;
  width: fit-content;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 2em;
  list-style: none;
}
#navbar ul li {
  cursor: pointer;
}

#hero {
  height: 89%;
  display: flex;
  align-items: center;
  background: var(--darkest-primary);
  overflow: hidden;
  position: relative;
}
#hero__msg {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  width: 80vh;
  z-index: 2;
}
#hero__desc {
  width: 23em;
}
#hero__image {
  flex: 1 1 60%;
  text-align: right;
}
#hero__image img {
  width: 80vh;
  height: auto;
}
#hero .hero__blob {
  position: absolute;
  width: 65vh;
  height: 65vh;
  background: var(--dark-primary);
  left: 4%;
  top: 15%;
  z-index: 1;
  transform: scaleX(-1);
  transition: border-radius 1s ease;
  animation: heroblob 20s ease infinite;
}

@keyframes heroblob {
  0% {
    border-radius: 72% 28% 28% 72%/71% 19% 81% 29%;
    rotate: 0deg;
  }
  20% {
    border-radius: 64% 36% 38% 62%/51% 73% 27% 49%;
    rotate: 5deg;
  }
  40% {
    border-radius: 68% 32% 31% 69%/61% 22% 78% 31%;
    rotate: 10deg;
  }
  80% {
    border-radius: 68% 32% 79% 21%/21% 38% 62% 79%;
    rotate: 5deg;
  }
  100% {
    border-radius: 72% 28% 28% 72%/71% 19% 81% 29%;
    rotate: 0deg;
  }
}
#about {
  width: 100%;
  height: auto;
  padding: 5em;
  display: flex;
  flex-direction: column;
  gap: 5em;
  background: var(--dark-primary);
}
#about .feature {
  display: flex;
  gap: 5em;
  flex-direction: row;
  align-items: center;
}
#about .feature .msg {
  flex: 1 1 50%;
  width: fit-content;
}
#about .feature .msg .description {
  width: 30em;
}
#about .feature img {
  height: 20em;
  flex: 1 1 50%;
}

#pricing {
  width: 100%;
  height: 100%;
  padding: 5em;
  background: var(--darkest-primary);
  gap: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#pricing span {
  text-align: center;
}
#pricing .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
#pricing .card {
  padding: 2em;
  width: 25em;
  height: 35em;
  background: var(--primary);
  color: var(--darkest-primary);
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 1.5em;
  outline: 2px solid rgba(255, 255, 255, 0.815);
}
#pricing .card__header {
  text-align: center;
  margin-bottom: 1.5em;
}
#pricing .card p {
  margin: 0;
}
#pricing .card__plan {
  font-size: 3vh;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
